#{extends 'main.html' /}
#{set title:'Home' /}

<div class="events">    
    <h3> 
    	<a href="@{Application.index()}cal/${prevMonth.format('yyyy/MM')}">&lt;&lt;</a> 
    	${reqDate.format('MMMM yyyy', 'fr')} 
    	<a href="@{Application.index()}cal/${nextMonth.format('yyyy/MM')}">&gt;&gt;</a>
    </h3>  
    
	#{if events.size() > 0}
        #{list items:events, as:'event'}
            <div class="event">
                <h2 class="event-title">
    				<a href="@{Application.show(event.slug)}">${event.title}</a>                
                </h2>
                <div class="event-metadata">
                    <span class="event-date">
                        ${event.dateEvt.format('d MMM yyyy', 'fr')}
                    </span>
                    <div class="event-competitions">
                        ${event.competitions.size() ?: 'pas de'} 
                        competition${event.competitions.size().pluralize()}
                        #{if event.competitions.size() > 0}
                        	<ul>
					        #{list items:event.competitions, as:'compet'}
                    	        <li>${compet}.</li>
					        #{/list}
					        </ul>
                        #{/if}
                    </div>
                </div>
            </div>
        #{/list}
	#{/if}
	#{else}
	    <div class="empty">
	        <p>Il n'y a pas d'événements à afficher pour cette période.</p>
	    </div>
	#{/else}
</div>
